/*! bulma.io v0.4.2 | MIT License | github.com/jgthms/bulma */
@charset "utf-8"

@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"

.navegacion
  background-color: $red
  color: $white-ter

.title-navegacion,
a.nav-item,
.awesome
  color: $white-ter

.nav-menu.nav-right.is-active
  // En dispositivos pequeños y medios esta parte del menú no se muestra al inicio.
  // Hay que recurrir al icono hamburguesa para desplegarla.
  @media screen and (max-width: 768px)
    display: none

a.nav-item
  @media screen and (max-width: 768px)
    color: $grey-dark

.contenedor-principal
  margin-top: 2rem
  margin-bottom: 2rem
  @media screen and (max-width: 768px)
    margin-left: 1rem
    margin-right: 1rem

.es-azul
  color: $blue

.es-primario
  color: $turquoise

.background-es-negro
  background-color: $grey-darker
  display: inline-block
  padding: 2rem

.panel-block.is-active
  border-left-color: $blue
  .panel-icon
    color: $blue

.textarea
  resize: none

.hero-padding
  padding: 2rem

.vacia
  min-height: 1px
